{{#if rates}}
  <table>
    <thead>
      <tr>
        <th>Country</th>
        <th>Currency</th>
        <th>Purchase</th>
        <th>Sale</th>
      </tr>
    </thead>
    <tbody>
      {{#each rates as |rate|}}
        {{rates-table-row rate=rate}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  {{yield}}
{{/if}}